
body {
  background-color: #34d8eb;
}

p {
  color: #000000;
}

h1, h2, h3 {
  color: #eb3434;
}

/* Apply background color to the navigation element */
nav {
  background-color: #35df73;
  padding: 10px;
  margin-bottom: 30px;
}

/* Set link color for navigation links */
nav a {
  color: #cc34eb;
}

/* Change link color on hover */
nav a:hover {
  color: #34b4eb;
}

/* Add these classes to your styles */
.quotefloat {
  float: right;
}

.flex1,
.flex2 {
  display: flex;
  margin-right: 130px; /* Adjust margin */
  margin-left: 55px; /* Adjust margin */
}

.float {
  flex: 1;
}

.column1,
.columnB {
  margin-right: 40px;
  margin-left: 60px;
}

.flex1,
.flex2 {
  flex: 3; /* Adjust flex values */
  background-color: beige;
  border-radius: 1em;
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  margin-left: 60px;
}


.iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex2 {
  margin-top: 30px;
}

.linked {
  margin-top: 10px;
}

.center {
  text-align: center;
}

.centertable {
  display: flex;
  justify-content: center;
}

h1, .sentences {
  text-align: center;
}

.icons {
  display: flex;
  flex: 3;
  justify-content: space-around; /* Center icons horizontally */
  padding: 10px;
}

.otherskills {
  background-color: #ffffff;
  border-radius: 1em;
  flex: 1;
  padding: 10px;
}

.flexbox2 {
  display: flex;
  margin-right: 130px; 
  flex-wrap:wrap;
}
.biopic {
  max-width: 100%;
}
.flex1, .flex2 {flex-wrap: wrap;}
.form {
  max-width: 100%;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
nav a {color: #ffffff;}
nav {background-color: rgb(51, 4, 26);}
h1, h2, h3 {color:#1d0101}

.textarea {max-width: 50%;}
@media only screen  and (max-width: 800px){nav a {display: block;}} 
@media only screen  and (max-width: 800px){ nav span {display: none}}
.skip {
  background-color:#ffffff;
  padding: 5px;
  border: 1px solid #000000;
  text-decoration: none;
  position: absolute;
  left: -999px;
}

.skip:focus {
  left: 10px;
  outline: 2px solid #000000; 
}
.flex1, .flex2 {background-color:#3b0808; color:#ffffff}
.column1 {color: #ffffff}
.flex1 a {color: #ffffff}
.info {color: #ffffff}
.line {color:black}
.img {background-color: #000000;}
.otherskills {background-color: #1d0101;}
.otherskills h1 p {color: #ffffff}
.hed, .par {color:#ffffff}
